body{
  overflow: hidden;
  background-color: #000000;
  margin: 0px;
 
}

#dir{
    background-color: #ffffff;
    position: absolute;
    font-family:"Times New Roman";
    font-size:12px;
    font-weight:bold;
    min-width:100px;
    text-align:center;
    right: 5px;
    top: 5px;
    opacity:0.5;
}
